<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
<title>Online_bank : Личный кабинет</title>
</head>
<body>
<form action="/client" method="GET">
<div class="header">
	<div class="logo">
		Online_bank
	</div>
	<ul class="menu">
		<li><input type="submit" name="button" value="Выход"></li>
	</ul>
</div>

<div class="content">
	<table width=70%>
	<tbody>
	<tr>
	<th colspan = "3" align="center"><h1> Личный кабинет </h1></th>
	</tr>
	<tr></tr><th colspan= '2' align = "center">{{message}}</th></tbody></tr>
	<tr><td colspan = "3" align="center"><div class="form-row">
	<input type="submit" name="button"  value='Личная информация'></div></td>
	</tr>
	<tr>
	<td align="left"><div class='form-row1'><select name="debet" required>
				<option disabled selected value="null">Дебетовые счета</option>
				{%for item in debet_accounts%}
				<option value={{item}}>{{item}}</option>
				{% endfor %}
	</select></div></td>
	<td align="center"><div class="form-row1">
	<input type="submit" name="button"  value='Перейти в дебет'></div></td>
		<td align="center"><div class="form-row1">
	<input type="submit" name="button"  value='Открыть счёт'></div></td>
	</tr>
	<tr>
	<td align="left"><div class='form-row1'><select name="deposit" required>
				<option disabled selected value="null">Вклады</option>
				{%for item in deposit_accounts%}
				<option value={{item}}>{{item}}</option>
				{% endfor %}
	</select></div></td>
	<td align="center"><div class="form-row1">
	<input type="submit" name="button"  value='Перейти во вклад'></div></td>
		<td align="center"><div class="form-row1">
	<input type="submit" name="button" value='Открыть вклад'></div></td>
	</tr>
	<tr>
	<td align="left"><div class='form-row1'><select name="credit" required>
				<option disabled selected value="null">Кредиты</option>
				{%for item in credit_accounts%}
				<option value={{item}}>{{item}}</option>
				{% endfor %}
	</select></div></td>
	<td align="center"><div class="form-row1">
	<input type="submit" name="button"  value='Перейти в кредит'></div></td>
		<td align="center"><div class="form-row1">
	<input type="submit" name="button"  value='Взять кредит'></div></td>
	</tr>
	</tbody>
	</table>
</div>
	<div class="infid"><input type="hidden" name = "id_client" value={{id_client}}></div>
</form>


<div class="footer">
	<br><div class="left"> О Компании </div>
	<br><div class="left"> Контакты +7 919 200 12 33</div>
	<br><div class="left"> <a href= "online_bank@mail.ru" title="Почта для связи"> online_bank@mail.ru</a></div>	
</div>	
</body>
</html>