<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
<title>Online_bank : Ежемесячный платёж</title>
</head>
<body>
<form action="/close_deposit" method="GET">
<div class="header">
	<div class="logo">
	Online_bank
	</div>
	<ul class="menu">
		<li><input type="submit" name="button" value="Выход"></li>
	</ul>
</div>

<div class="content">
	<table>
	<tbody>
	<tr>
	<th colspan = "2" align="center"><h1>Закрытие вклада</h1></th>
	</tr>
	<tr><th colspan= '3' align = "center"><h2>{{message}}</h2></th></tr>
	<tr><td><div class='form-row'><label>Счёт закрытия</label></div></td>
		<td align="right"><div class='form-row'><label>{{ID_account}}</label></div></td>
	</tr>
	<tr><td><div class='form-row'><label>Счёт зачисления</label></div></td>
		<td align="right"><div class='form-row'><select name="accountto" required>
                    <option disabled selected value="null">(Не выбрано)</option>
                    {%for item in debet_accounts%}
                    <option value={{item}}>{{item}}</option>
                    {% endfor %}
		</select></div></td>		
	</tr>
	
	<tr><td><div class='form-row'><label>Сумма</label></div></td>
		<td align="right" ><div class='form-row'><label>{{sum}}</label></div></td>
	</tr>
	<tr><td colspan = "2" align="center"><div class="form-row">
		<input type="submit" name="button" value='Закрыть вклад'></div></td>
	</tr>
	</tbody>
	</table>
</div>
	<div class="infid"><input type="hidden" name = "id_client" value={{id_client}}></div>
	<div class="infid"><input type="hidden" name = "id_account" value={{ID_account}}></div>
	<div class="infid"><input type="hidden" name = "sum" value={{sum}}></div>
</form>

<div class="footer">
	<br><div class="left"> О Компании </div>
	<br><div class="left"> Контакты +7 919 200 12 33</div>
	<br><div class="left"> <a href= "online_bank@mail.ru" title="Почта для связи"> online_bank@mail.ru</a></div>	
</div>	
</body>
</html>