<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">
<title>Online_bank : Личная информация</title>
</head>
<body>
<div class="header">
	<div class="logo">
		 Online_bank 
	</div>
	<ul class="menu">
		<li><a href="main.html">Выход</a></li>
	</ul>
</div>

<div class="content">
	<table>
	<tbody>
	<form method='post' action="information.html">
	<tr>
	<th colspan = "2" align="center"><h1> Личная информация <h1></th>
	</tr>
	<tr><td><div class='form-row'><label>Фамилия</label></div></td>
			<td align="right"><div class='form-row'><label>{{surname}}</div></td>		
		</tr>
		<tr><td><div class='form-row'><label>Имя</label></td>
			<td align="right" ><div class="form-row"><label>{{name}}</div></td>
		</tr>
		<tr><td><div class='form-row'><label>Отчество</label></td>
			<td  align="right"><div class="form-row"><label>{{patronymics}}</div></td>
		</tr>		
		<tr><td><div class='form-row'><label>Номер и серия паспорта</label></td>
			<td align="right"><div class="form-row"><label>{{passport}}</div></td>	
		</tr>
		<tr><td><div class='form-row'><label>Дата рождения</label></td>
			<td align="right"><div class="form-row"><label>{{date_of_birth}}</div></td>	
		</tr>
		<tr><td colspan = "2" align="center"><div class="form-row">
			<input type="submit" value='Посмотреть транзакции'></div></td>	
		</tr>
	</form>
	</tbody>
	</table>
</div>

<div class="footer">
	<br><div class="left"> О Компании </div>
	<br><div class="left"> Контакты +7 919 200 12 33</div>
	<br><div class="left"> <a href= "online_bank@mail.ru" title="Почта для связи"> online_bank@mail.ru</a></div>	
</div>	
</body>
</html>