<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
<title>Online_bank : Личная информация</title>
</head>
<body>
<form action="/information" method="GET">
<div class="header">
	<div class="logo">
		Online_bank
	</div>
	<ul class="menu">
		<li><input type="submit" name="button" value="Выход"></li>
	</ul>
</div>

<div class="content">
	<table>
	<tbody>
	<tr>
	<th colspan = "2" align="center"><h1> Личная информация </h1></th>
	</tr>
	<tr><td><div class='form-row'><label>Фамилия</label></div></td>
		<td align="right"><div class='form-row'><label>{{surname}}</label></div></td>
		</tr>
		<tr><td><div class='form-row'><label>Имя</label></div></td>
			<td align="right" ><div class="form-row"><label>{{name}}</label></div></td>
		</tr>
		<tr><td><div class='form-row'><label>Отчество</label></div></td>
			<td  align="right"><div class="form-row"><label>{{patronymic}}</label></div></td>
		</tr>		
		<tr><td><div class='form-row'><label>Номер паспорта</label></div></td>
			<td align="right"><div class="form-row"><label>{{passport_num}}</label></div></td>
		</tr>
		<tr><td><div class='form-row'><label>Серия паспорта</label></div></td>
			<td align="right"><div class="form-row"><label>{{passport_ser}}</label></div></td>
		</tr>
		<tr><td><div class='form-row'><label>Дата рождения</label></div></td>
			<td align="right"><div class="form-row"><label>{{date_of_birth}}</label></div></td>
		</tr>
		<tr><td colspan = "2" align="center"><div class="form-row">
			<input type="submit" name="button" value='Посмотреть транзакции'></div></td>
		</tr>

	</tbody>
	</table>
</div>
	<br><h2><div class="form-row1"><input type="submit" name="button" value="Личный кабинет"></div></h2>
	<div class="infid"><input type="hidden" name = "id_client"  value={{id_client}}></div>
	</form>

<div class="footer">
	<br><div class="left"> О Компании </div>
	<br><div class="left"> Контакты +7 919 200 12 33</div>
	<br><div class="left"> <a href= "online_bank@mail.ru" title="Почта для связи"> online_bank@mail.ru</a></div>	
</div>	
</body>
</html>