<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
<title>Online_bank : Регистрация</title>
</head>
<body>
<div class="header">
		<div class="logo">
		Online_bank
	</div>
	<ul class="menu">
		<li><a href={{url_for('exit')}}>Выход</a></li>
	</ul>
</div>

<div class="content">
	<table>
	<tbody>
	<form method='post' class='reg-form' action={{url_for('registration_people')}}>
		<tr>
		<th colspan = "2" align="center"><h1> Регистрация </h1></th>
		</tr>
		<tr><td><div class='form-row'><label for='form_sname'>Фамилия</label><br></div></td>
			<td align="right"><div class='form-row'><input type='text' name="second_name" placeholder="Иванов"></div></td>
		</tr>
		<tr><td><div class='form-row'><label for='form_fname'>Имя</label><br></div></td>
			<td align="right" ><div class="form-row"><input type='text' name="first_name" placeholder="Иван"></div></td>
		</tr>
		<tr><td><div class='form-row'><label for='form_fname'>Отчество</label><br></div></td>
			<td  align="right"><div class="form-row"><input type='text' name="patronymics" placeholder="Иванович"></div></td>
		</tr>
		<tr><td><div class='form-row'><label for='form_fname'>Серия паспорта</label><br></div></td>
			<td align="right"><div class="form-row"><input type='text'  name="seria_passport" placeholder="2012"></div></td>
		</tr>
		<tr><td><div class='form-row'><label for='form_fname'>Номер паспорта</label><br></div></td>
			<td align="right"><div class="form-row"><input type='text'  name="number_passport" placeholder="123456"></div></td>
		</tr>
		<tr><td><div class='form-row'><label for='form_fname'>Дата рождения</label><br></div></td>
			<td align="right"><div class="form-row"><input type="date"  name='date_of_birth' value="2016-10-24"></div></td>
		</tr>
		<tr><td><div class='form-row'><label for='form_email'>Логин</label><br></div></td>
			<td align="right"><div class="form-row"><input type='login'  name='login' placeholder="login"></div></td>
		</tr>
		<tr><td><div class='form-row'><label for='form_fpass'>Пароль</label><br></div></td>
			<td align="right"><div class="form-row"><input type='password' id='form_fpass' name='password' value="password"></div></td>
		</tr>
		<tr><td colspan = "2" align="center"><div class="form-row">
			<input type="submit" value='Зарегистрироваться'></div></td>	
		</tr>
	</form>
	</tbody>
	</table>
</div>

<div class="footer">
	<br><div class="left"> О Компании </div>
	<br><div class="left"> Контакты +7 919 200 12 33</div>
	<br><div class="left"> <a href= "online_bank@mail.ru" title="Почта для связи"> online_bank@mail.ru</a></div>	
</div>
</body>
</html>