<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
<title>Online_bank : Регистрация</title>
</head>
<body>
<form action="/addClient" method="GET">
<div class="header">
	<div class="logo">
		Online_bank
	</div>
	<ul class="menu">
		<li><input type="submit" name="button" value="Регистрация"></li>
		<li><input type="submit" name="button" value="Вход"></li>
	</ul>
</div>

<div class="content">
	<table>
	<tbody>
		<tr>
		<th colspan = "2" align="center"><h1> Регистрация </h1></th>
		</tr>
		<tr>
		<th colspan= '2' align = "center">{{message}}</th>
		</tr>
		<tr><td><div class='form-row'><label>Фамилия</label></div></td>
			<td align="right"><div class='form-row'><input type='text' id='form_sname' name='second_name' placeholder="Иванов"></div></td>
		</tr>
		<tr><td><div class='form-row'><label>Имя</label></div></td>
			<td align="right" ><div class="form-row"><input type='text' id='form_fname' name='first_name' placeholder="Иван"></div></td>
		</tr>
		<tr><td><div class='form-row'><label>Отчество</label></div></td>
			<td  align="right"><div class="form-row"><input type='text' id='form_pname' name='patronymic' placeholder="Иванович"></div></td>
		</tr>		
		<tr><td><div class='form-row'><label>Номер паспорта</label></div></td>
			<td align="right"><div class="form-row"><input type='text' id='form_npas' name='passport_id' placeholder="2012"></div></td>
		</tr>
		<tr><td><div class='form-row'><label>Серия паспорта</label></div></td>
			<td align="right"><div class="form-row"><input type='text' id='form_spas' name='passport_seria' placeholder="123456"></div></td>
		</tr>
		<tr><td><div class='form-row'><label>Дата рождения</label></div></td>
			<td align="right"><div class="form-row"><input type="date" id='form_dateofb' name='date_of_birth' placeholder="2016-10-24"></div></td>
		</tr>
		<tr><td><div class='form-row'><label >Логин</label></div></td>
			<td align="right"><div class="form-row"><input type='text' id='form_email' name='login' placeholder="login"></div></td>
		</tr>
		<tr><td><div class='form-row'><label>Пароль</label></div></td>
			<td align="right"><div class="form-row"><input type='password' id='form_fpass' name='password' placeholder="password"></div></td>
		</tr>
		<tr><td colspan = "2" align="center"><div class="form-row">
			<input type="submit" name="button" value='Зарегистрироваться'></div></td>
		</tr>
	</tbody>
	</table>
</div>
</form>

<div class="footer">
	<br><div class="left"> О Компании </div>
	<br><div class="left"> Контакты +7 919 200 12 33</div>
	<br><div class="left"> <a href= "online_bank@mail.ru" title="Почта для связи"> online_bank@mail.ru</a></div>	
</div>
</body>
</html>